.badge {
  display: inline-block;
  padding: 4px 10px;
  border-radius: var(--border-radius-botones);
  font-size: 0.70rem;
  font-weight: bold;
  white-space: nowrap;
  font-family: var(--fuente-contenido);
}

.badge--rechazado {
  background-color: var(--color-rojizo);
  color: var(--color-palido);
}

.badge--completado,
.badge--aprobado {
  background-color: var(--color-verdoso);
  color: var(--color-palido);
}

.badge--pendiente,
.badge--devuelto {
  color: var(--color-palido);
  background-color: var(--color-primario);
}

.badge--creado{
  color: var(--color-secundario);
  background-color: var(--color-fondoazultranslucido);
}


@media (min-width: 768px) {
    .badge{
      font-size: var(--tamano-mediano);
    }
}