.form {
  color: var(--color-oscuro);
  gap: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: var(--fuente-contenido);
}

.form__subBotones {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.form__decoration {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: var(--color-secundario);
  gap: 15px;
  width: 100%;
  margin: 15px 0;
}

.form__decoration::before,
.form__decoration::after {
  content: "";
  height: 2px;
  background-color: var(--color-secundario);
  flex: 1;
  max-width: 100%;
}

.form__tittle {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--color-secundario);
}

.form--alineacion {
  align-items: stretch;
}

.form--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;
}

.form__campo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form__label {
  font-size: var(--tamano-pequeno);
}

.form__titulo {
  text-align: center;
  font-family: var(--fuente-titulos);
}

.form__texto {
  font-family: var(--fuente-contenido);
  font-weight: 500;
  font-size: var(--tamano-pequeno);
}

.form__texto--center {
  text-align: center;
  color: var(--color-grisOscuro);
}

.form__link {
  border: none;
  text-decoration: underline;
  color: var(--color-secundario);
  font-size: var(--tamano-mediano);
  background: none;
  transition: 0.3s;
  font-family: var(--fuente-contenido);
  cursor: pointer;
}

.form__link:active {
  color: var(--color-secundario);
}

.form_autorizacion {
  display: flex;
  gap: 10px;
  align-items: center;
  /* font-size: var(--tamano-pequeno); */
}

.form-column_autorization{
  flex-direction: column;
  gap: 5px;
  align-items: start;
}

.form-top_autorization {
  align-items:flex-start;
}

.form__geo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form__botonGeo {
  background-color: var(--color-primario);
  border: none;
  color: var(--color-palido);
  font-weight: bolder;
  border-radius: var(--border-radius-botones);
  padding: 4px 10px;
  border: 2px var(--color-palido) solid;
  transition: 0.2s;
}

.form__botonGeo:active {
  background-color: var(--color-palido);
  color: var(--color-primario);
  border: 2px var(--color-primario) solid;
}

@media (min-width: 768px) {
  .form{
    gap: 25px;
  }
  .form--contenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 70px);
    background-color: var(--color-palido);
    padding: 20px;
    height: 95%;
    gap: 5px;
    border-radius: 0px 40px 40px 0px;
    align-content: center; 
    justify-items: stretch; 
  }
  .form__titulo{
    font-size: var(--tamano-enorme);
  }
  .form__subtitulo{
    font-size: var(--tamano-grande);
  }
  .form__link, .form__texto--center{
    font-size: var(--tamano-medio-grande);
  }
}