.headerCont {
  width: 100%;
  height: 100px;
  min-width: 340px;
  padding: 10px;
  display: flex;
  justify-content: center;
  transition: ease-in-out 0.5s;
  position: fixed;
  transition: ease-in-out 0.5s;
}

.header {
  display: flex;
  width: 100%;
  max-width: 1000px;
  background-color: #0770CC;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: var(--altura-header);
  align-items: center;
  height: fit-content;
  border-radius: 100px;
  transform: translateY(0);
  transition: ease-in-out 0.2s;
}

.header--hidden {

  transform: translateY(-100px);
}

.header__contenedor {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 100px;
}

.header__contenedor:last-child {
  background-color: var(--color-palido);
  padding: 5px;
  overflow: hidden;
}

.header__contenedor:last-child {
  background-color: var(--color-palido);
  overflow: hidden;
}

.header__boton {
  border-radius: 8px;
  height: 50px;
  width: 50px;
  border: none;
  /* background-color: rgba(255, 255, 255, 0.637); */
  border-radius: 100px;
  cursor: pointer;
  aspect-ratio: 1;
  transition: 0.3s;

  position: relative;
}

.header__boton--padding {
  padding: 8px;
  height: 45px;
}

.header__boton--logo {
  padding: 0;
  border: none;
}

.header__icono {
  color: white;
  font-size: 20px;
  transition: 0.3s;
  pointer-events: none;
}

.header__imagen-logo {
  display: flex;
  height: 60px;
}

.header__texto {
  display: flex;
  flex-direction: column;
}

.header__subtitulo {
  color: white;
  font-size: var(--tamano-mediano);
  font-family: var(--fuente-contenido);
}

.header__titulo {
  color: white;
  font-weight: bold;
  font-family: var(--fuente-titulos);
  font-size: var(--tamano-medio-grande);
  letter-spacing: 9%;
}

.header__boton--notificacion {
  position: relative;
  background: none;
}

.header__boton--notificacion i {
  color: var(--color-secundario);
  font-size: 1.6rem;
}

.header__boton--usuario {
  position: relative;
  overflow: hidden;
  background: var(--color-primario);
}

.header__boton--usuario i {
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-palido);
  font-size: 2.8rem;
}

.header__boton--atras {

  width: 60px;
  height: 60px;
  margin-right: 60px;
}

.header__boton--atras i {

  color: var(--color-secundario);
  font-size: 2.5rem;
}

.header__indicador {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 20px;
  height: 20px;
  background-color: var(--color-primario);
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.header__boton:active {
  background-color: white;
}

.header__boton:active .header__icono {
  color: #0770CC;
}

@media (max-width: 600px) {

  .header__texto {
    display: none;
  }
}

@media (max-width: 425px) {

  .header__boton--atras {
    margin: 0;
  }
}