.tarjeta {
    /* display: flex; */
    padding: 20px;
    gap: 15px;
    box-shadow: 0 0 10px var(--color-sombra);
    border-radius: var(--border-radius-tarjetas);
    width: 100%;
    background: var(--color-palido);
}

.tarjeta__flex--row {

    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.container__revision .tarjeta {

    padding: 20px;
    border-radius: 40px;
    background: linear-gradient(0deg, rgba(235, 248, 255, 0) 0%, rgba(255, 255, 255, 0.822) 100%);
    box-shadow: unset;
    max-width: 1000px;
}

.tarjeta__flex--column{

    display: flex;
    flex-direction: column;
}

.tarjeta--fila {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.tarjeta--plan {
    justify-content: space-between;
    align-items: center;
    padding: 16px 18px;
}

.tarjeta--fila-fondo {
    background-color: var(--color-fondoazultranslucido);
    color: var(--color-secundario);
    padding: 10px;
    border-radius: var(--border-radius-botones);
    border: 1px solid var(--color-secundario);
    font-weight: normal;
}

.tarjeta--completa {
    width: 100%;
}

.tarjeta__titulo {
    font-size: var(--tamano-grande);
    font-weight: bolder;
    font-family: var(--fuente-titulos);
}

.tarjeta__contenido--linea {
    flex: 1;
}

.tarjeta__estado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 8px 14px;
    font-weight: 700;
    letter-spacing: 0.02em;
    white-space: nowrap;
}

.tarjeta__estado--naranja {
    background-color: var(--color-primario);
    color: var(--color-palido);
}

.tarjeta--notificaciones {
    padding: 18px;
}

.tarjeta--notificaciones .tarjeta--fila {
    padding: 10px 0;
}

.tarjeta__titulo--centrado {
    text-align: center;
}

.tarjeta__titulo--left {
    align-self: flex-start;
}

.tarjeta__titulo--pequeno {
    font-size: var(--tamano-medio-grande);
}

.tarjeta__icono {
    font-size: var(--tamano-grande);
}

.tarjeta__icono--azul {
    color: var(--color-secundario);
}

.tarjeta__icono--verde {
    color: var(--color-verdoso);
}

.tarjeta__icono--naranja {
    color: var(--color-primario);
}

.tarjeta__icono--fondo-azul {
    background-color: var(--color-azulado-50);
    padding: 8px;
    border-radius: 8px;
}

.tarjeta__icono--fondo-naranja {
    background-color: var(--color-naranjado-50);
    padding: 8px;
    border-radius: 8px;
}

.tarjeta__boton {
    margin-top: 5px;
}

.tarjeta__icono--clickable {
    cursor: pointer;
}

.icono__tarjeta {
    font-size: 40px;
    background-color: rgba(217, 217, 217,0.4);
    border-radius: var(--border-radius-botones);
    padding: 8px;
}

.tarjeta--introduccion {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--color-grisOscuro);
    margin-bottom: 20px;
}

.tarjeta--introduccion_supervisor {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tarjeta--introduccion_supervisor > .introduccionDiv { flex: 4; }
.tarjeta--introduccion_supervisor > .verPlan__tipo--estado { flex: 2; }

.introduccionDiv {
    display: flex;
    /* align-items: center; */
    gap: 12px;
}

.tarjeta-contenido {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    width: fit-content;
}

.tarjeta-contenido_flex {
    display: flex;
    gap: 40px;
    flex-direction: row;
}

.texto--contenido {
    font-size: var(--tamano-pequeno);
    font-family: var(--fuente-contenido);
    text-transform: none;
}

.tarjeta__subtitulo {
    font-size: var(--tamano-medio-grande);
    font-family: var(--fuente-titulos);
    font-weight: bold;
}

.tarjeta__linea {
    width: 100%;
}

.tarjeta--notificacion {
    padding: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-grisMedio);
    border-radius: var(--border-radius-tarjetas);
    background-color: var(--color-palido);
    margin-bottom: 12px;
    font-family: var(--fuente-contenido);
    cursor: pointer;
    transition: ease 0.5s;
}

.tarjeta--notificacion:hover {
    scale: 1.02;
}

.tarjeta--notificacion.tarjeta--notificacion__noread {
    border: 3px solid var(--color-primario);
    position: relative;
}

.tarjeta--notificacion.tarjeta--notificacion__noread::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: var(--color-primario);
    right: -10px;
    top: -10px;
}

.tarjeta__header {
    
    color: var(--color-secundario);
    font-size: var(--tamano-pequeno);
    width: 100%;

    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.tarjeta__header-texto {
    font-size: 12px;
    font-family: var(--fuente-titulos);
    text-transform: uppercase;
    color: var(--color-grisMedio);
}
.tarjeta__icono-contenedor {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--color-palido);
    font-size: var(--tamano-mediano);
    flex-shrink: 0;
}

.tarjeta__icono-contenedor--azul {
    background-color: var(--color-secundario);
}

.tarjeta__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.tarjeta__titulo-notificacion {
    font-family: var(--fuente-titulos);
    font-weight: bold;
    font-size: var(--tamano-grande);
    color: var(--color-oscuro);
    margin: 0;
}

.tarjeta__iconoItem {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-grisOscuro);
    font-size: var(--tamano-pequeno);
}

.tarjeta__tiempo {
    font-size: 0.75rem;
    color: var(--color-grisOscuro);
    font-weight: bold;
}


.tarjeta__cuerpo {
    margin-top: 16px;
    background-color: var(--color-grisFondo);
    border: 1px solid var(--color-grisMedio);
    border-radius: var(--border-radius-botones);
    padding: 12px;
    display: flex;
    gap: 8px;
}

.tarjeta__mensaje {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    color: var(--color-oscuro);
}

.tarjeta__mensaje>i {
    color: var(--color-oscuro);
    font-size: var(--tamano-mediano);
    margin-top: 2px;
}

.tarjeta__mensaje-texto {
    display: flex;
    flex-direction: column;
}

.tarjeta__mensaje-titulo {
    font-size: var(--tamano-pequeno);
    color: var(--color-oscuro);
    font-weight: normal;
}

.tarjeta__mensaje-contenido {
    font-size: var(--tamano-pequeno);
    color: var(--color-grisOscuro);
    margin-top: 2px;
}

.tarjeta--botones {
    padding: 10px;
    width: 100%;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    transition: ease-in-out 0.3s;
}

.tarjeta-botones-extra {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tarjeta-panel_accion {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.tarjeta__checkbox {
    min-width: 20px;
    max-width: 20px;
    height: 40px;
    accent-color: var(--color-primario);
}

.container__revision .tarjeta--botones button {
    width: 250px;
}

.container__revision .tarjeta--botones button:hover {
    scale: 1.05;
}

.container__revision .tarjeta-botones-extra button:hover {
    scale: 1.02;
}

/* ---------------------------------------------------------------- */

.tarjeta .check-peticion_cont {

    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    border-radius: 5px;

    border: solid 2px var(--color-primario);
}

.tarjeta .check-peticion_cont label {

    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .tarjeta__titulo-notificacion{
        font-size: var(--tamano-grande);
    }
    .tarjeta__tiempo{
        font-size: var(--tamano-pequeno);
    }
    .tarjeta__info{
        gap: 6px;
    }
    .tarjeta__iconoItem{
        font-size: var(--tamano-mediano);
    }
}

@media (max-width: 590px) {
    
    .tarjeta-contenido_flex {

        flex-direction: column;
        gap: 0;
    }

    .tarjeta__flex--row {
        flex-direction: column;
    }

    .tarjeta--introduccion_supervisor {

        flex-direction: column;
        padding-bottom: 20px;
    }
}