<div class="container">

    <div class="explicacion">

        <div class="explicacion__titulo">

            <i class="ri-hospital-fill"></i>

            <span>Plan de Acción</span>

            <p>Guía de tareas creada por toda la familia para saber cómo actuar y protegerse ante un desastre. Se divide en tres etapas vitales: antes, durante y despues.</p>

        </div>

        <img src="asset/ilustracion_familia_c.svg" alt="">

    </div>

    <form method="POST" class="form">
        
        <div class="input">
            <div class="form__inputBox form__inputBox--selector">
                <i class="ri-user-line" id="selector__icono"></i>
                <select class="selector-portatil" id="miembro">
                    <option value="" hidden>Seleccione un miembro...</option>
                </select>
            </div>
        </div>
        <div class="input">
            <div class="form__inputBox form__inputBox--selector">
                <i class="ri-error-warning-line" id="selector__icono"></i>
                <select class="selector-portatil" id="factorRiesgo">
                    <option value="" hidden>Seleccione un factor de riesgo...</option>
                </select>
            </div>
        </div>
        <button class="boton" id="botonGuardar" disabled>Guardar</button>
    </form>
    <div class="container__gap invisible">
</div>
</div>