<main class="container">

  <div class="explicacion explicacion--noImg">

    <div class="explicacion__titulo"> 

      <i class="ri-notification-2-fill"></i>

      <span>Notificaciones</span>

      <!-- <p></p> -->
    </div>

  </div>

  <div class="filtros filtros--notificaciones">
    <button class="boton boton--filtro boton--filtro-activo">Todos</button>
    <button class="boton boton--filtro">No leídas</button>
    <button class="boton boton--filtro">Leídas</button>
  </div>

  <div class="container__paginas"></div>

  <div class="container__paginador"></div>
</main>